#yizezubutton{
    margin-top: 200px;
    text-align: center;
    margin-left: 200px;
     background-color: rgb(44, 239, 22);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(15, 37, 235);
    border-radius: 19px;
    font-size: large;
}
#yiyazubutton{
    margin-top: 150px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
     background-color: rgb(44, 239, 22);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(15, 37, 235);
    border-radius: 19px;
    font-size: large;
}
#yikfelubutton{
    margin-top: 120px;
    text-align: center;
    margin-left: 140px;
     background-color: rgb(29, 235, 6);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(15, 37, 235);
    border-radius: 19px;
    font-size: large;
}

.habtelogo img{
    border: 2px solid blue;
    border-radius: 50%;
    width: 20%;
    height: 10%;
}
#mainbody{
    background-image: url(images/habte3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.name{
    display: flex;
    justify-content: space-between;
}
#eng{
    color: blue;
    text-align: right;
    margin-left: 50px;
    font-size: 40px;
    text-shadow: 1px 5px 3px red;
}
#amh{
    margin-right: 50px;
    color: blue;
    text-align: left;
    font-size: 40px;
    text-shadow: 1px 5px 3px rgb(5, 245, 25);
}