.header{
    background-color: rgb(82, 185, 179);
    display: flex;
    justify-content: space-between;
    margin-bottom: -18px;
}
#logoimage{
    width: 130px;
    height: 100px;
    padding: 20px;
    border: 2px solid rgb(0, 255, 102);
    border-radius: 50%;
}
.head{
    text-align:center;
    margin-right: 200px;
}
.mainbody{
    background-color: rgb(111, 186, 50);
    width: 100%;
    height: 2500px;
    margin-bottom: -22px;
}
.footer{
    background-color: rgb(64, 110, 190);
    text-align: center;
}
.headparts{
    justify-content: space-between;
    display: flex;
}
#links{
    text-decoration: none;
    font-size:medium;
    
}
.slider{
    
    position: relative;
    width: 1000px;
    
}
.slider img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-left: 100px;
}
button{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background: rgba(0,0,0,5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}
.prev{
   left: 10px; 
   margin-left: 200px;
}
.next{
    text-align: right;
    right: 10px;
    
}
.texts{
    text-align: center;
}
#ethio2{
    border: 2px solid blue;
    border-radius: 50%;
    width: 40%;
    height: 30%;
}
.videos{
   text-align: center;
}
.videos iframe{
    width: 1000px;
    height: 400px;
    border: 2px solid rgb(22, 6, 239);
    border-radius: 20px;
}
#video{
    width: 100%;
}
