body{
    background-image: url("images/image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
#headers{
    color: rgb(231, 68, 68);
    text-align: center;
}
.yigbu{
    text-align: center;
    
}
#yigbubutton{
    background-color: rgb(112, 231, 108);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(255, 0, 157);
    border-radius: 19px;
    font-size: large;
}